@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

strong {
    font-weight: normal;
}


/* NAV */

nav {
    padding: 1rem 0;
    background-color: white;
    color: black;
    font-size: 1.25rem;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}

nav i {
    font-size: 2.5rem;
    color: #1a156b;
}

nav .bi-cart {
    font-size: 2rem;
}

nav i:hover {
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

a.active {
    color: #1a156b;
}

.menu-btn {
    display: none;
    height: 32px;
    width: 40px;
    cursor: pointer;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    background: #1a156b;
    border-radius: 3px;
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    margin-top: 13px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.menu-btn span::before {
    margin-top: -12px;
}

.menu-btn span::after {
    margin-top: 12px;
}

.menu-btn.active span {
    background: transparent;
}

.menu-btn.active span::before {
    margin-top: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.menu-btn.active span::after {
    margin-top: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

@media screen and (max-width:767px) {
    nav div.container {
        max-width: 90%;
    }
}

@keyframes slideFromTop {
    0% {
        margin-top: -20%;
    }

    100% {
        margin-top: 0%;
    }
}

@media (max-width: 575px) {
    nav ul {
        display: none;
    }

    nav ul.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        top: 80px;
        background: white;
        width: 100%;
        padding: 2rem;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        animation: slideFromTop 1s;
        gap: 1.5rem;
    }

    .menu-btn {
        display: block;
    }
}


/* BANNER */

.banner {
    background: url('../imagenes/banner/milky-way.jpg') no-repeat center;
    background-size: cover;
    height: calc(100vh - 92px);
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner h1,
.banner i {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 6px black;
    text-align: center;
}

@media screen and (max-width:767px) {
    .banner {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
}

@media screen and (max-width:460px) {
    .banner h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width:320px) {
    .banner h1 {
        font-size: 2.5rem;
    }

    .banner i {
        font-size: 3rem;
    }
}


/* INICIO */

iframe {
    width: 100%;
    height: 400px;
}


/* PRODUCTOS */

.products {
    margin-bottom: 2rem;
}

.products .products-images img {
    padding: 0.5rem;
    border: 4px solid white;
    border-bottom: none;
    width: 100%;
    background-color: #e2e2e2;
    object-fit: contain;
}

.products-body {
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.products h3 {
    font-size: 1.5rem;
}

.description {
    display: -webkit-box;
    height: 81px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3;
    margin: 1rem 0;
}

.products .btn {
    border-radius: 0;
}

.price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.price {
    font-size: 2rem;
}

.distancia-focal,
.apertura {
    display: block;
    margin: 0.75rem 0;
}

.search {
    display: flex;
    justify-content: flex-end;
}

.search input {
    width: 360px;
    border-radius: 0;
}

.dropdown button,
.dropdown-menu {
    border-radius: 0;
}

.dropdown-item {
    padding: 0.5rem 1rem;
}

.dropdown-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.dropdown-item:hover {
    cursor: pointer;
}

.volver {
    cursor: pointer;
}

@media screen and (max-width:1400px) {
    .price {
        font-size: 1.75rem;
    }
}

@media screen and (max-width:1199px) {
    .price {
        font-size: 1.25rem;
    }
}

@media screen and (max-width:767px) {
    .price {
        font-size: 1.75rem;
    }
}

@media screen and (max-width:420px) {
    .price {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:360px) {
    .price {
        font-size: 1.25rem;
    }

    .dropdown-container {
        flex-direction: column;
        align-items: flex-end;
    }

    .search input {
        width: 100%;
    }
}


/* PRODUCTO ÚNICO */

.product-unique {
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, rgb(226, 226, 226), rgb(216 216 216));
    padding: 1rem;
}

.product-unique .products-body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.product-unique .products-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.product-unique .products-images img:not(.image-min-container img) {
    border: none;
    background: rgb(245, 245, 245);
    height: 100%;
    object-fit: contain;
}

.product-unique p {
    margin: 1rem 0 0 0;
}

.image-min-container {
    display: flex;
}

.image-min-container img {
    height: 100px;
    object-fit: contain;
    background: rgb(245, 245, 245);
    border: 2px solid #e2e2e2;
    object-fit: contain;
}

.image-min-container img:hover {
    cursor: pointer;
}

.image-active {
    border-bottom: 4px solid #198754 !important;
}

.border-active {
    border-bottom: 4px solid #1a156b !important;
}

.product-unique .price {
    font-size: 2.5rem;
}

.product-unique button {
    border-radius: 0;
}

.toast {
    position: fixed;
    top: 0;
    right: 0;
}

.toast-header {
    border-radius: 0;
}

.toast-body {
    background-color: #ffffff87;
}

.toast img {
    width: 1.5rem;
}

@media screen and (max-width:991px) {
    .product-unique .products-images img {
        height: 100%;
    }
}

@media screen and (max-width:767px) {
    .product-unique {
        flex-direction: column;
    }

    .product-unique .products-body {
        width: 100%;
        padding: 1rem;
    }

    .product-unique .products-images {
        width: 100%;
    }

    .image-min-container {
        height: 120px;
    }
}

@media screen and (max-width:575px) {
    .product-unique .price {
        font-size: 2rem;
    }
}

@media screen and (max-width:360px) {
    .product-unique .price {
        font-size: 1.75rem;
    }
}


/* FOOTER */

footer {
    background: linear-gradient(to top, #1a156b, #3e37a9);
    color: white;
}

footer .socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin-bottom: 0;
}

footer ul {
    display: flex;
    gap: 1.5rem;
}

footer i {
    color: white;
    font-size: 1.5rem;
}

@media screen and (max-width:575px) {
    footer .socials {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    footer i {
        font-size: 1.75rem;
    }
}


/* CARRITO */

.carrito {
    position: fixed;
    right: 0;
    top: 0;
    padding: 2rem;
    background: white;
    box-shadow: 4px 4px 10px black;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 999;
}

.carrito .btn-close {
    align-self: flex-end;
}

.carrito ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.carrito ul button {
    width: 30px;
    height: 30px;
    color: white;
    border: none;
}

.carrito ul input {
    width: 3rem;
    height: 30px;
    appearance: textfield;
    text-align: center;
    border: 1px solid rgb(207, 207, 207);
}

.li-image {
    display: flex;
    justify-content: center;
}

.li-image img {
    width: 126px;
}

.li-title {
    width: 300px;
    min-width: 200px;
    text-align: center;
}

.li-price {
    width: 120px;
    min-width: 120px;
    text-align: center;
    color: #1a156b;
    font-weight: bold;
    font-size: 1.25rem;
}

.li-cantidad {
    width: 165px;
    display: flex;
    justify-content: center;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

form+.buttons-container {
    border-top: 1px solid rgb(200, 200, 200);
    padding-top: 1rem;
}

.bi-trash2 {
    font-size: 2rem;
}

.bi-trash2:hover {
    cursor: pointer;
    color: #dc3545;
}

.price-total {
    font-size: 1.5rem;
    color: #1a156b;
}

.carrito p {
    font-size: 1.25rem;
    margin: 1rem 0;
}

button.bg-success:disabled {
    opacity: 0.5;
}

.address,
.card-data {
    margin: 1.5rem 0;
}

.address h3,
.card-data h3 {
    font-size: 1.25rem;
}

.address ul,
.card-data ul {
    margin: 1rem 0;
}

.double-row {
    display: flex;
    gap: 2rem;
}

.double-row div {
    width: 50%;
}

@media screen and (min-width:900px) {
    .carrito {
        width: 75%;
    }
}

@media screen and (min-width:1300px) {
    .carrito {
        width: 55%;
    }
}

@media screen and (min-width:1600px) {
    .carrito {
        width: 45%;
    }
}

@media screen and (max-width:780px) {
    .carrito {
        width: 100%;
        padding: 1rem;
    }

    .carrito ul {
        justify-content: flex-start;
    }
}

@media screen and (max-width:680px) {
    .carrito ul {
        overflow-x: scroll;
    }

    .li-image {
        width: auto;
    }
}

@media screen and (max-width:420px) {
    .buttons-container {
        flex-direction: column;
        gap: 1.5rem;
    }
}